

.fo{
    color: black;
}

h1.profileedit{
    font-size: 20px;
    align-items: center;
    padding-left: 75%;
}

h5.createname{
    font-size: smaller;
    text-align: center;
    
}

h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
